h1{
	color:  red;
	text-align: center;
}

div.sample {
	text-align: center;
}

#main{
	margin-top: 5em;
}

body{
	font-family: sans-serif;
}

img{
	margin-left: 5%;
	margin-top: 1%;
}

.info{
	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
}