{% extends "base.html" %}
{% block main%}
<h1>{{ title }}</h1>
	<div class="sample">
		<a>{{author.name}}</a>
		{% for b in books %}
		<a href="/Books/{{b.id}}"><img src="{{ url_for('static', filename='images/'+b.img) }}"/></a>
		{% endfor %}
    </div>
{% endblock %}