{% extends "base.html" %}
{% block main%}
<h1>{{ title }}</h1>
	<div class="sample">
		{% for a in authors %}
		<ul>
		<a href="/Authors/{{a.id}}">{{a.name}}</a>
		</ul>
		{% endfor %}
	</div>
{% endblock %}