{% extends "base.html" %}
{% block main%}
<h1>{{ title }}</h1>
	<div class="sample">
		{% for b in books %}
		<img src="{{ url_for('static', filename='images/'+b.img) }}"/>
		{% endfor %}
	</div>
{% endblock %}