{% extends "base.html" %}
{% block main%}
<h1>{{ title }}</h1>
	<div class="sample">
		<img src="{{ url_for('static', filename='images/'+book.img) }}"/>
		<ul><a href="{{book.url}}">Buy it</a></ul>
		<div class="info">
		<ul>title : {{book.title}}</ul>
		<ul>price : {{book.price}}€</ul>
		<ul>author : <a href="/Authors/{{book.author.id}}">{{book.author.name}}</a></ul>
		</div>
	</div>
{% endblock %}